body {
    display: flex;
    flex-direction: column;
    background-image: url(images/oak.JPG);
}

.calc{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 425px;
    height: 525px;
    border: solid;
    border-radius: 20px;
    background-color: darkslategrey;
}

.display{
    margin: 25px 25px 15px 25px;
    border-radius: 10px;
    width: 372px;
    height: 100px;
    background-color: lightgrey;
    overflow:hidden
}

#previous {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;
    height: 25px;
    font-size: x-large;

}

#current {
    display: flex;
    justify-content: end;
    padding: 5px;
    font-size: xx-large;
}

.del {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 7px;
    padding-top: 30px;
}

.back,
.clear {
    font-size: smaller;
    height: 25px;
    width: 173px;
}

.back,
.zero,
.dec,
.neg,
.equals,
.op {
    background-color: rgb(108, 167, 142);
}

.clear {
    background-color: coral;
}

.container {
    display: flex;
    width: 372px;
    height: 300px;
    margin: auto
}

.num {
    background-color: lightgrey;
}

.numbers {
    display: grid;
    grid-template-columns: 93px 93px 93px
}

.clear {
    grid-column: span 2;
}

.operators{
    display: grid;
    grid-template-columns: 93px;
}

button {
    cursor: pointer;
    border-radius: 5px;
    font-size: xx-large;
}

.zero {
    grid-column: span 2;
}